<div class="flex flex-col h-screen space-y-5 justify-center items-center w-screen">
    <div class="text-2xl font-semibold text-green-500">
        Transaction Successful
    </div>
    <div class="space-y-2 w-full">
        <div class="w-2/4 mx-auto bg-green-900 text-white text-center shadow-lg rounded-md px-4 py-2">Carry Out Another Transaction</div>
        <div class="w-2/4 mx-auto bg-blue-600 text-white text-center shadow-lg rounded-md px-4 py-2">Download Receipt</div>
        <div class="w-2/4 mx-auto bg-red-700 text-white text-center shadow-lg rounded-md px-4 py-2">Exit Transaction Page</div>
    </div>
</div>